footer {
  background-color: #0a0f43;
  color: white;
  padding: 20px;
  width: 100%;
  position: static;
  bottom: 0;
}

footer .warning-container {
  background: #d5c9df;
  padding: 10px;
  border-radius: 10px;
}

@media (max-width: 600px) {
  footer {
    position: static;
  }

  footer .logo-container {
    width: 100%;
  }

  footer .links-container {
    width: 100%;
  }

  footer .warning-container {
    width: 100%;
  }
}

.scrollTopContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

.scrollTopIcon {
  font-size: 2rem;
  color: white;
  transition: color 0.3s;

  &:hover {
    color: #a1a3c1;
  }
}
.scrollTopIcon {
  display: none;
}

@media (max-width: 768px) {
  .scrollTopIcon {
    display: block;
  }
}
