:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: @;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html,
body {
  height: 100%;
  margin: 0;
}

#app-root, /* This assumes your root div has id "app-root". Adjust the selector accordingly. */
body {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.MuiBackdrop-root {
  background-color: transparent !important;
}
